body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 2.5;
  background-color: #ff7f50;
  color: #000000;
  text-align: center;

}

h1 {
  font-size: 40px;
  font-weight: 700;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}


.page-header__item {
  flex: 0 1 100px;
}


.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}


