* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 2.5;
  background-color: #ff7f50;
  color: #000000;
  text-align: center;
}

.button-class {
  padding: 20px 30px 20px 30px;
  margin: 20px;
  font-family: inherit;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
  display: fixed;
  transition-duration: 0.3s;
  cursor: pointer;
}

@keyframes pokemonButton-change {
  0% {
    transform: scale(0.5);
    background-image: linear-gradient(white 100%);
    rotate: 1080deg;
    box-shadow: none;
    border-color: black;
    color: rgba(245, 245, 220, 0);
    translate: 0px -500px;
  }
  50% {
    color: rgba(240, 248, 255, 0);
    translate: 0px 650px;
  }
}
.pokemonButton {
  animation: pokemonButton-change;
  background-color: #36454f;
  border-color: #ffffff;
  border: 3px solid;
  color: white;
  animation-duration: 3s;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 2px 12px 16px 0 rgb(243, 248, 107);
  transition-duration: 0.5s;
  font-size: 70%;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.pokemonButton:hover {
  color: #ffffff;
  box-shadow: rgb(243, 248, 107) 0 0 0 3px, transparent 0 0 0 0;
  border: solid 3px rgb(243, 248, 107);
  transform: rotate(360deg) scale(1.5);
  cursor: pointer;
  border-radius: 50%;
  background-image: rgb(121, 243, 166);
  font-size: 75%;
}

.list-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.list-group > li {
  display: flex;
  flex: 0 0 30%;
  flex: 0 0 0%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.modal-body {
  background-color: #36454f;
  border-color: #ffffff;
  border: 3px solid;
  color: white;
  text-align: left;
}

.modal-title {
  background-color: #36454f;
  border: 3px solid;
  color: white;
  text-align: center;
}

.modal-header {
  text-align: center;
}

.modal h1 {
  margin-top: 0;
  font-family: "Copperplate", fantasy;
  color: #ffffff;
  border: none;
  text-align: center;
}

.modal p {
  margin-bottom: 0;
}

.modal-content {
  background-color: #36454f;
  border-color: #ffffff;
  border: 3px solid;
  color: white;
  box-sizing: border-box;
  box-shadow: 2px 12px 16px 0 rgb(243, 248, 107);
  font-family: "Copperplate", fantasy;
}
.pokemon-img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-secondary {
  color: #36454f;
  background-color: #ffffff;
  box-shadow: 2px 12px 16px 0 rgb(243, 248, 107);
  border: solid 3px rgb(243, 248, 107);
}

.close:hover {
  color: #ffffff;
  box-shadow: 2px 12px 16px 0 rgb(243, 248, 107);
  border: solid 3px rgb(243, 248, 107);
}
